.wrapper {
  display: block;
}

.wrapper h1 {
  color: #5076ff;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
}

.AnalysisTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.AnalysisTable thead {
  border: none;
  background: #5076ff;
  border-radius: 10px;
  overflow: hidden;
}

.AnalysisTable th,
td {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 250% */
}

.AnalysisTable a {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 307.692% */
  text-decoration-line: underline;
  cursor: pointer;
}

.AnalysisTable img {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

table tr:nth-child(2n) {
  background-color: #b3c4ff;
  border-radius: 10px;
}

table th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
table th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

table td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
table td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* .modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  text-align: center;
} */

.overlay {
  background: rgba(0, 0, 0, 0.5);
}
